<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
  <title>Hello World!</title>
</head>
<body>
<div class="ui container">
  <div class="ui secondary menu">
    <a class="item" href="/">
      Home
    </a>
    <a class="item active" href="/sandbox/hello_world">
      Hello
    </a>
    <a class="item">
      hogehoge
    </a>
  </div>
  <h2 class="ui center aligned header">Hello <label th:text="${name}"></label></h2>

  <form class="ui form" th:action="@{/sandbox/hello_world/hello}" th:object="${helloForm}" th:method="post">
    <div class="ui text-input">
      <label>ID</label>
      <input type="text" th:field="*{id}"/>
    </div>
    <input class="ui positive button" type="submit" value="Submit"/>
  </form>
</div>
</body>
</html>