<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
  <title>Home!</title>
</head>
<body>
<div class="ui container">
  <div class="ui secondary menu">
    <a class="item active" href="/">
      Home
    </a>
    <a class="item" href="/sandbox/hello_world">
      Hello
    </a>
    <a class="item">
      hogehoge
    </a>
  </div>
  <h2 class="ui center aligned header">Home</h2>
</div>
</body>
</html>